{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "rules": {
    // 缩进改为4空格，默认2空格
    "indent": [0, 2],
    // 对象尾随逗号取消
    "comma-dangle": [2, "never"]
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}